<?xml version='1.0' encoding='utf-8'?>
<widget id="org.igorfachini.contactRecordApp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Contact Record</name>
  <description>
    Simple application for contact management.
  </description>
  <author email="igor.fachini8@gmail.com" href="https://github.com/IgorFachini">
    Igor Fachini
  </author>


  <preference name="Orientation" value="portrait" />
  <preference name="BackgroundColor" value="0xF2F2F2FF" />
  <preference name="DisallowOverscroll" value="true" />


  <!-- Código gerado pelo Ionic Resources -->
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>

<platform name="android">
  <icon src="resources/android/icon/drawable-ldpi-icon.png" density="ldpi"/>
  <icon src="resources/android/icon/drawable-mdpi-icon.png" density="mdpi"/>
  <icon src="resources/android/icon/drawable-hdpi-icon.png" density="hdpi"/>
  <icon src="resources/android/icon/drawable-xhdpi-icon.png" density="xhdpi"/>
  <icon src="resources/android/icon/drawable-xxhdpi-icon.png" density="xxhdpi"/>
  <icon src="resources/android/icon/drawable-xxxhdpi-icon.png" density="xxxhdpi"/>
</platform>

<icon src="resources/android/icon/drawable-xhdpi-icon.png"/>

  <!-- Plataforma Android -->
  <engine name="android" />

  <!-- Plugins -->
  <plugin name="cordova-plugin-statusbar" spec="*" />
  <plugin name="cordova-plugin-whitelist" spec="*" />

  <!-- Status bar -->
  <platform name="android">
    <preference name="StatusBarBackgroundColor" value="#662D91" />
  </platform>


  <!-- Libera acesso -->
  <access origin="*" />
</widget>
